---
layout: default
---

<div class="container">
  <section class="services">
    <div class="card2 fadeIn">
      <h2 class="card__title">{{site.data.home.title1}}</h2>
      <p class="card__content">{{site.data.home.content1}}</p>
    </div>

    <div class="card2 fadeIn">
      <h2 class="card__title shadow">{{site.data.home.title2}}</h2>
      <p class="card__content shadow">{{site.data.home.content2}}</p>
    </div>

    <div class="card2 fadeIn">
      <h2 class="card__title shadow">{{site.data.home.title3}}</h2>
      <p class="card__content shadow">{{site.data.home.content3}}</p>
    </div>
  </section>

  <section class="about">
    <div class="about__content fadeIn">
      <h2 class="about__title">{{site.data.home.about-title}}</h2>
      <div class="about__content__text">
        {{site.data.home.about-content | markdownify }}
      </div>
    </div>

    <div class="about__photo-container">
      <img
        class="img1 fadeIn"
        src="assets/img/210113©AnnelienNijland20203087.jpg"
        alt="Foto Simone"
      />
    </div>
  </section>

  <section class="partners fadeIn">
    <h2 class="partners__title">{{site.data.home.partners-title}}</h2>

    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        {% for logo in site.data.logos.logo %}
        <div class="swiper-slide">
          <img src="{{logo.url}}" alt="{{logo.title}}" />
        </div>
        {% endfor %}
      </div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div> -->
      <div class="swiper-pagination"></div>
    </div>

    <div class="partners__logos">
      {% for logo in site.data.logos.logo %}
      <div class="fadeIn partners__logos-images">
        <img src="{{logo.url}}" alt="{{logo.title}}" />
      </div>
      {% endfor %}
    </div>

    <div class="btn-centered fadeIn">
      <a href="/portfolio" class="btn btn-action">Bekijk portfolio</a>
    </div>
  </section>

  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="{{site.baseurl}}assets/js/caroussel.js"></script>

  <section class="contact fadeIn" id="contact">
    <div class="contact--bg">
      <h2 class="contact__title">{{site.data.contact.contact-title}}</h2>
      <p class="contact__name">{{site.data.contact.contact-name}}</p>
      <p class="contact__tel">{{site.data.contact.contact-tel}}</p>
      <p class="contact__email">{{site.data.contact.contact-email}}</p>
      <p class="contact__KvK">{{site.data.contact.contact-KvK}}</p>
      <p class="contact__btw">{{site.data.contact.contact-btw}}</p>
    </div>
  </section>
</div>
