---
layout: default
title: portfolio
---

<div class="container p--noshadow">
  <section class="portfolio">
    <h1>Portfolio</h1>
  </section>
  <section class="clients">
    {% for item in site.posts %}
    <div class="portfolio__item">
      <img
        src="{{site.baseurl}}assets/img/thuisarts.jpg"
        alt="Thuisarts"
        class="clients__image"
      />
      <h2 class="clients__title">{{item.posttitle}}</h2>
      <p class="clients__subtitle">{{item.subtitle}}</p>
      <a class="btn" href="{{ item.url }}">Lees meer</a>
    </div>
    {% endfor %}
  </section>

  {% for item in site.portfolio %}
  <div class="portfolio__item">
    <img class="clients__image" src="{{item.postimage}}" alt="" />
    <h2 class="clients__title">{{item.posttitle}}</h2>
    <p class="clients__subtitle">{{item.subtitle}}</p>
    <a class="btn" href="{{ item.url }}">Lees meer</a>
  </div>
  {% endfor %}

  <section class="partners">
    <h2 class="partners__title">{{site.data.home.partners-title}}</h2>

    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        <div class="swiper-slide">
          <img src="{{site.baseurl}}assets/img/barabas.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="{{site.baseurl}}assets/img/fourcorners.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="{{site.baseurl}}assets/img/mvo.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="{{site.baseurl}}assets/img/paperless.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="{{site.baseurl}}assets/img/thuisarts.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img
            src="{{site.baseurl}}assets/img/universiteitutrecht.png"
            alt=""
          />
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div> -->
      <div class="swiper-pagination"></div>
    </div>

    <div class="partners__logos">
      <div class="">
        <img src="{{site.baseurl}}assets/img/barabas.png" alt="" />
      </div>
      <div class="">
        <img src="{{site.baseurl}}assets/img/fourcorners.png" alt="" />
      </div>
      <div class="">
        <img src="{{site.baseurl}}assets/img/mvo.png" alt="" />
      </div>
      <div class="">
        <img src="{{site.baseurl}}assets/img/paperless.jpg" alt="" />
      </div>
      <div class="">
        <img src="{{site.baseurl}}assets/img/thuisarts.jpg" alt="" />
      </div>
      <div class="">
        <img src="{{site.baseurl}}assets/img/universiteitutrecht.png" alt="" />
      </div>
    </div>
  </section>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="{{site.baseurl}}assets/js/caroussel.js"></script>
