@media (min-width: 840px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 4em;
  }

  .about h2 {
    font-size: 2em;
  }

  .partners h2,
  .contact h2 {
    font-size: 2em;
  }
  .nav ul {
    gap: 4em;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1em;
  }

  .card--services {
    padding: 1em;
    width: 100%;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .about__content {
    grid-column: 1 / 5;
    grid-row: 1 / -2;
    background: var(--clr-blue);
    padding: 2em;
    border-radius: var(--border-radius);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  }

  .about .img1 {
    margin-top: 0;
  }

  .about__content__text {
    max-width: 70%;
    font-size: 1.2em;
  }

  .about__photo-container {
    grid-column: 4 / -1;
    grid-row: 2 / -1;
  }

  .partners__logos {
    display: flex;
    gap: 3em;
    align-items: space-between;
  }
  .partners__logos img {
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  }

  .swiper-container {
    display: none;
  }
}

@media (min-width: 1000px) {
  .card--services {
    padding: 2em;
  }
  .services {
    gap: 2em;
  }
}
