nav {
  padding: 1em;
}

nav ul {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1em;
  list-style: none;
}

.nav__link {
  color: var(--clr-white);
  text-decoration: none;
  opacity: 0.9;
}

.nav__link.current {
  text-decoration: underline;
}
