nav {
  background: var(--clr-blue);
  padding: 1em;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.nav__link {
  color: var(--clr-white);
  text-decoration: none;
  opacity: 0.9;
}

.nav__link.current {
  text-decoration: underline;
}
