:root {
  --clr-green: rgb(128, 188, 161);
  --clr-blue: rgb(0, 37, 59);
  --clr-white: rgb(245, 241, 235);
  --clr-yellow: rgb(253, 185, 19);
  --clr-pink: rgb(240, 91, 120);
  --border-radius: 5px;
}
