---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.data.home.title}}</title>
    <link rel="stylesheet" href="https://use.typekit.net/rkb3vdi.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link
      rel="icon"
      href="{{site.baseurl}}assets/img/Siems S Klein 2021 PNGvierkant.png"
    />
  </head>
  <body class="fadeInTriangle">
    {% include nav.html %}
    <section class="landing">
      <div class="landing__logo fadeIn">
        <img
          src="{{site.baseurl}}assets/img/Logo Siems Groot 2021 RGB scherm PNG.png"
          alt="Siems Logo"
          class="logo__image"
        />
      </div>
    </section>
    {{content }} {% include footer.html %}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"
      integrity="sha512-wK2NuxEyN/6s53M8G7c6cRUXvkeV8Uh5duYS06pAdLq4ukc72errSIyyGQGYtzWEzvVGzGSWg8l79e0VkTJYPw=="
      crossorigin="anonymous"
    ></script>
    <script src="{{site.baseurl}}assets/js/st.js"></script>
  </body>
</html>
