---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.data.home.title}}</title>
    <link rel="stylesheet" href="https://use.typekit.net/rkb3vdi.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    {% include nav.html %} {{content }} {% include footer.html %}
  </body>
</html>
